.btn{
    padding: 1.5em 2.5em;
    margin-top: 0.5em;
    background: #f20000;
    text-align: center;
    font-weight: 600;
    color: #fff;
    font-size: 1.6em;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.8s;
    &:hover{
        background-color: #fff;
        color: #f20000;
    }
}
.btn-help{

}
