.count{
    background: #f20000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:7em 10em;
    color: #fff;
    .count__item{
        text-align: center;
        transition: all 1s;
        .numb{
            font-size: 4.1em;
            font-weight: 700;
        }
        p{
          font-size: 2em;
          font-weight: 500;
        }
    }
}
@media only screen and (max-width: 991px){
    .count .count__item{
        padding: 0 2em; 
    }
    .count .count__item p {
        font-size: 1.7em;
    }
}