*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}
.mt-5{
    margin-top: 5em;
}